<br>
<div class="container">
  
  <mdb-carousel class="carousel slide carousel-fade" [animation]="'fade'">
    <mdb-carousel-item>
      <img class="d-block w-100" src="https://mdbootstrap.com/img/Photos/Slides/img%20(68).webp" alt="First slide">
    </mdb-carousel-item>
    <mdb-carousel-item>
      <img class="d-block w-100" src="https://mdbootstrap.com/img/Photos/Slides/img%20(6).webp" alt="Second slide">
    </mdb-carousel-item>
    <mdb-carousel-item>
      <img class="d-block w-100" src="https://mdbootstrap.com/img/Photos/Slides/img%20(9).webp" alt="Third slide">
    </mdb-carousel-item>
  </mdb-carousel>                          
    <section>
  <div class="row">
  
        <!-- Grid column -->
        <div class="col-12">
  
          <div class="view zoom z-depth-1 rounded mt-4">
            <a href="#!">
              <img src="https://mdbootstrap.com/img/Photos/Others/product1.jpg" class="img-fluid" alt="sample image">
              <div class="mask rgba-black-gradient d-md-flex align-items-end">
                <div class="text-bottom white-text p-4">
                  <span class="badge badge-danger">Coming Soon</span>
                  <h3 class="card-title font-weight-bold mt-2 mb-1">Bose SoundSport Wireless Headphones</h3>
                  <p class="font-weight-normal mb-2">Bose CEO has confirmed that the wireless headphones will be launching
                    on 14 April. The event will be online and there will be a livestream so that everyone can follow the
                    action from home. It will be hosted at 11am EST.</p>
  
                </div>
              </div>
            </a>
          </div>
  
        </div>
        <!-- Grid column -->
  
      </div>
      <!-- Grid row -->
  
    </section>
    <!-- Section: Block Content -->
  <!--Main layout-->
  <main class="mt-5">

  
    <div class="row mb-5">
  
      <!--Grid column-->
      <div class="col-lg-3 col-md-6 mb-4">
  
        <!--Collection card-->
        <div class="card collection-card z-depth-1-half">
          <!--Card image-->
          <div class="view zoom">
            <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/5.jpg" class="img-fluid"
              alt="E-commerce">
            <div class="stripe dark">
              <a>
                <p>Red trousers
                  <i class="fa fa-angle-right"></i>
                </p>
              </a>
            </div>
          </div>
          <!--Card image-->
        </div>
        <!--Collection card-->
  
      </div>
      <!--Grid column-->
  
      <!--Grid column-->
      <div class="col-lg-3 col-md-6 mb-4">
  
        <!--Collection card-->
        <div class="card collection-card z-depth-1-half">
          <!--Card image-->
          <div class="view zoom">
            <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/8.jpg" class="img-fluid"
              alt="E-commerce">
            <div class="stripe light">
              <a>
                <p>Sweatshirt
                  <i class="fa fa-angle-right"></i>
                </p>
              </a>
            </div>
          </div>
          <!--Card image-->
        </div>
        <!--Collection card-->
  
      </div>
      <!--Grid column-->
  
      <!--Grid column-->
      <div class="col-lg-3 col-md-6 mb-4">
  
        <!--Collection card-->
        <div class="card collection-card z-depth-1-half">
          <!--Card image-->
          <div class="view zoom">
            <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/9.jpg" class="img-fluid"
              alt="E-commerce">
            <div class="stripe dark">
              <a>
                <p>Accessories
                  <i class="fa fa-angle-right"></i>
                </p>
              </a>
            </div>
          </div>
          <!--Card image-->
        </div>
        <!--Collection card-->
  
      </div>
      <!--Grid column-->
  
      <!--Fourth column-->
      <div class="col-lg-3 col-md-6 mb-4">
  
        <!--Collection card-->
        <div class="card collection-card z-depth-1-half">
          <!--Card image-->
          <div class="view zoom">
            <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/7.jpg" class="img-fluid"
              alt="E-commerce">
            <div class="stripe light">
              <a>
                <p>Sweatshirt
                  <i class="fa fa-angle-right"></i>
                </p>
              </a>
            </div>
          </div>
          <!--Card image-->
        </div>
        <!--Collection card-->
  
      </div>
      <!--Fourth column-->
  
    </div>
  </main>
  <!--Main layout-->
</div>
  
  