.badge {
    font-size: 50%;
    width: 34px;
    height: 10px;
    padding-top: 9px;
    border-radius: 4px;
    font-size: medium;
    padding-bottom: 13px;
}
.badge-default {
    width: 85px;
}
.badge-danger {
  width: 20px;
}
.fa,.fas {
  font-weight: 900;
  color: white;
  margin-bottom: 13px;
}
.cartCountH {
  padding-top: -12px !important;
  padding-bottom: -71px !important;
  margin-top: -43px;
  font-size: 50%;
  margin-left: 23px;
  color: red;
  font:Trebuchet MS;
}
